<h1><%= @team_name %></h1><br>

<h2><%= @team_motto %></h2><br>

<h2><%= @hero[0].name %></h2>
<div class="hero">
  <p>Hero Power: <%=@hero_power[0]%></p>
  <p>Hero Biography: <%=@hero[0].bio%></p>
</div>

<h2><%= @hero[1].name %></h2>
<div class="hero">
  <p>Hero Power: <%=@hero[1].power%></p>
  <p>Hero Biography: <%=@hero[1].bio%></p>
</div>

<h2><%= @hero[2].name %></h2>
<div class="hero">
  <p>Hero Power: <%=@hero[2].power%></p>
  <p>Hero Biography: <%=@hero[2].bio%></p>
</div>

